

#principal{
    text-align: center;
    top: 70px;
    float: right;
    position: absolute;
    left:425px;
}

#titulo{
    color:rgb(2, 90, 90);
    font-family: serif;
    font-size: 70px;

}

.subtitulo{
    color:rgb(2, 90, 90);
    font-family: serif;
}

#tentativas{
    font-style: italic;
    color:rgb(2, 90, 90);
    font-family: serif;
    font-weight: bold;
    font-size: 20px;
}

.input{
background-color: rgb(145, 199, 181);
border-radius: 5px;
border-color: rgb(191, 243, 226);
}

body{
    background-color: cadetblue;
}

.botaoConfirma{
    background: rgb(2, 90, 90);
	color: rgb(145, 199, 181);
	border-style: outset;
	border-color: rgb(19, 122, 122);
	height: 50px;
	width: 100px;
	font: bold15px arial,sans-serif;
	text-shadow: none;  
    border-radius: 30px;
}

.botao{
	background: rgb(145, 199, 181);
	color: rgb(2, 90, 90);
	border-style: outset;
	border-color: rgb(191, 243, 226);
	height: 50px;
	width: 100px;
	font: bold15px arial,sans-serif;
	text-shadow: none;
}